<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Users page</title>
</head>
<body>
<div align="left">
    <h1>Users page</h1>
    <br/>
    <a th:href="@{/}">"back home page"</a>
    <h2></h2><a th:href="@{/registration-form}">Add user</a>
    <table border="2" padding="5">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>

                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <br/>
                    <a th:href="@{'/admin/edit-user/' + ${user.id}}">Delete</a>
                </td>
                <td>
                    <a th:href="@{'/admin/delete-user/' + ${user.id}}">Edit</a>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
